#primary-nav {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    border-radius: 50rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: blueviolet;
}

nav ul {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.primary-nav-item {
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;

    transition: all ease-in-out 300ms;
}

.primary-nav-item:hover {
    color: tomato;
    font-size: 16px;
    letter-spacing: 2px;
}